$chart-colors: (
  1: (
    start: #ffafbd,
    end: #e5c640,
  ),
  2: (
    start: #2193b0,
    end: #6dd5ed,
  ),
  3: (
    start: #cc2b5e,
    end: #753a88,
  ),
  4: (
    start: #de6262,
    end: #ffb88c,
  ),
  5: (
    start: #06beb6,
    end: #48b1bf,
  ),
  6: (
    start: #eb3349,
    end: #f45c43,
  ),
  7: (
    start: #56ab2f,
    end: #a8e063,
  ),
  8: (
    start: #614385,
    end: #516395,
  ),
  9: (
    start: #eacda3,
    end: #d6ae7b,
  ),
  10: (
    start: #42275a,
    end: #734b6d,
  ),
);
