@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin background-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin solid-button {
  background-color: #fedc48;
  color: #000;
  cursor: pointer;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
