@import "../../utilities/utility.scss";

.spline-chart-axies {
  @include absolute-fill;
  pointer-events: none;

  > .area {
    position: absolute;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  > .x,
  > .y {
    position: absolute;

    &::before {
      position: absolute;
      background-color: #ccc;
      content: "";
    }

    > .content {
      position: absolute;
      color: #888;
      font-size: 12px;
    }
  }

  > .x {
    &::before {
      left: 0;
      top: 0;
      width: 1px;
      height: 5px;
    }

    > .content {
      left: 0;
      top: 10px;
      transform: translateX(-50%);
    }
  }

  > .y {
    &::before {
      right: 0;
      top: 0;
      width: 5px;
      height: 1px;
    }

    > .content {
      right: 10px;
      top: 0;
      transform: translateY(-50%);
    }
  }
}
