@import "../../utilities/utility.scss";

.spline-chart-x-axis {
  @include absolute-fill;
  pointer-events: none;

  > .line {
    position: absolute;
    height: 1px;
    background-color: #ccc;
  }

  > .label {
    position: absolute;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 5px;
      background-color: #ccc;
      content: "";
    }

    > .content {
      position: absolute;
      left: 0;
      top: 10px;
      color: #888;
      font-size: 12px;
      transform: translateX(-50%);
    }
  }
}
