@import "../chart-colors.scss";
@import "../../utilities/utility.scss";

@use "scss:map";

.spline-chart-pointer {
  @include absolute-fill;
  cursor: none;

  > .line {
    position: absolute;
    width: 1px;
    background-color: rgba(#626176, 0.6);
    transition: all 0.2s;
  }

  > .point {
    position: absolute;
    transition: all 0.2s;

    &::before {
      position: absolute;
      left: -10px;
      top: -10px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      opacity: 0.3;
      content: "";
      transition: all 0.2s;
    }

    &::after {
      position: absolute;
      left: -7px;
      top: -7px;
      width: 10px;
      height: 10px;
      border: 2px solid #fff;
      border-radius: 7px;
      content: "";
      transition: all 0.2s;
    }

    > .label {
      position: absolute;
      top: 0;
      transform: translateY(-50%);

      &.left {
        right: 15px;
      }

      &.right {
        left: 15px;
      }
    }

    @for $i from 1 through 10 {
      &.spline-#{$i} {
        &::before,
        &::after {
          background-color: map-get(map-get($chart-colors, $i), start);
        }
      }
    }
  }

  &:not(.active) {
    opacity: 0;
  }
}
